.cardWrapper{
  width: 85%;
  background-color: white;
  height: 82%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.uploadWrapper{
    grid-column: 1/2;
    background-color:white;
    margin:15px;
    align-self: center;
}


.resultsWrapper{
    display: grid;
    grid-template-columns: 1fr 3fr ; 
    gap: 20px; 
}
.preview{
    grid-column:1/2;
    margin-left:15px;
    
}

.preview h3{
    margin-top:0px;
}
.previewImg{
    width: 22vw;
    height: 32vw;
    max-height: 350px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}
.preview img{
    /* min-width: 270px; */
    max-width: 300px;
    /* min-height: 270px; */
    max-height: 330px;
    width: 20vw;
    height: 30vw;
}

.predict{
    grid-column: 2/3;
    margin-right:15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.predictWrapper h2{
    justify-self: flex-start;
}